#div1 {
    margin-bottom: 0;
    background-image: url(../images/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
}

#foot {
    margin-bottom: 0;
    background-image: url(../images/foot.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
}

#span1 {
    font-family: STKaiti;
    font-size: 45px;
}

#span2 {
    font-family: FZShuTi;
    font-size: 35px;
    color: rgb(224, 237, 238);
}

.fakeimg {
    height: 200px;
    background: #aaa;
}

